  <div class="container-login">
    <header class="header-login">
      <img class="image-login" src="./images/admin.jpg" alt="Admin">
      <h2 class="title-login">SIGN IN</h2>
    </header>
    <form class="form-login" action="http://localhost:8080/login" method="post">
      <input class="username" type="text" name="username" placeholder="Username">
      <input class="password" type="text" name="password" placeholder="Password">
      <button class="btn-login" type="submit" value="Iniciar Sesión">LOGIN 🚀</button>
    </form>
    <a class="reset-password" href="#">Forgot Password? Click to reset</a>
  </div>